<h2 style="margin-left: 44%">Login Form</h2>

    <div class="container" style="margin-left:30%">
        <input type="text" placeholder="Enter Username" maxlength="50" id="uname" required><br>
        <input type="password" placeholder="Enter Password" maxlength="20" id="psw" required><br>
        <button type="submit" style="margin-left: 14%" onclick="loginCall()">Login</button>
    </div>
    <div id="loginErrorField" style="margin-right: 6%"></div>
    <script src="../View/js/login.js"></script>



